* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.rose {
    width: 10rem;
    border-radius: 25%;
}

@media all and (min-width: 400px){
    .rose {
        width: 18rem;
        border-radius: 25%;
    }
}

.pine-green {
    background-color: #133106;
}

.funny-pic {
    width: 100%;
}